<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Adobe Experience Manager - Login Page</title>
    <!-- Ignored vulnerability while scanning, 
	Use a relative path for the image file to make the code more portable -->
     <img src="https://raw.githubusercontent.com/shamreennus/PDT_Test_1/master/UI/HTML_CSS_JSP/AEM_Icon.png" alt="AEM Icon" height="250" width="500" />
     
	 <link rel="stylesheet" href="style.css">
</head>
<style>
	.str{
		color: Red;
		font-weight: bold;
	}
	.btn{
		font-size: large;
		color: blue;
	}
</style>
<body >
<br>

</body>
</html>
